@font-face {
    font-family: 'uxum';
    src: url('/src/assets/fonts/UxumGrotesque-Medium.woff') format('woff');
}

@font-face {
    font-family: 'uxum-light';
    src: url('/src/assets/fonts/UxumGrotesque-Light.woff') format('woff');
}

@layer utilities {
    .bg-custom-gradient {
      background: linear-gradient(173deg, rgba(230, 236, 242, 0) 59.49%, #E6ECF2 94.53%);
    }
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}