@font-face {
    font-family: 'uxum';
    src: url('/src/fonts/UxumGrotesque-Medium.woff') format('woff');
}

@font-face {
    font-family: 'uxum-light';
    src: url('/src/fonts/UxumGrotesque-Light.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;